* {
    font-family: "sans-sherif";
    
}

body {
    background-color: steelblue;
}

div {
    display: block;
    text-align: center;
}

.hidden {
    display: none;
}

.hide {
    display: none;
}

.time-counter {
    color: red;
    font-size: 50px;
}

.answer-container {
    margin: 50px;
    padding: 0;
    display: flex;
}

.answer-button {
    padding: 25px;
    width: 25%;
} 