* {
    font-family: "sans-sherif";
}

body {
    background-color: steelblue;
}

div {
    display: block;
    text-align: center;
}

/* hidden and hide are used a lot in the js to make this all stay on 1 HTML*/
.hidden {
    display: none;
}

.hide {
    display: none;
}

.time-counter {
    color: red;
    font-size: 50px;
}
/* Keeps Containers Fitting Proportinally On The Screen In A Vertical Line */
.answer-container {
    margin: 50px;
    padding: 0;
    display: flex;
}

.answer-button {
    padding: 25px;
    width: 25%;
} 